* {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(136, 170, 100);
    padding: 10px;
}

.todo-app {
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.todo-app h2 {
    color: #2a6d21;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}

.add {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #2a6d21;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

.delete-btn {
    border: none;
    outline: none;
    padding: 10px 30px;
    background: #9c230e;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.checkbox {
    margin-right: 30px;
    color: #5b863f;
    font-size: 20px;
    cursor: pointer;
    height: 15px;
    width: 15px;
}

.list {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}