<div class="container">
    <div class="todo-app">

        <h2> To-Do List</h2>
        <div class="row">
            <input type="text" id="input-box" placeholder="Add a new task" #todo>
            <button class="add" (click)="buttonClick(todo)">Add</button>
        </div>

        <ul>
            @for (todo of todos; track todo) {

            <li class="list"><input type="checkbox" [(ngModel)]="todo.completed" class="checkbox" /> {{todo.title}} <button class="delete-btn" (click)="onDelete(todo)">Delete</button></li>
            }
        </ul>

    </div>



</div>